<head>
    <title>Campus Books</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>
<template name="layout">    
  {{> header}}
    <div class="placeholder">
      <div class="center home-update">
		    First time users please <a>Click Here</a>
      </div>
    </div>	
    <div class="main-layout-wrapper">
    	{{> yield}}
    </div>
   	<div class="main-layout-filler" style="height:40px;">
   	</div>
    	{{> footer}}
</template>


