#index-template{
	background-image:url('background/bg1.jpg');
	-moz-box-shadow: 0 2px 3px #cba987;
    -webkit-box-shadow: 0 2px 3px #cba987;
    box-shadow: 0 2px 3px #cba987;
   	z-index: 9999;
   /* margin: 0px 20px;*/
   	margin: 0 30px 0 30px;
  
}

#section1, #section3{
	padding-top: 40px;
	padding-bottom: 40px;
	color:#7F5A52;

}
#section3{
	background: #fff url('background/bg2.jpg') repeat 0 0;
	padding-bottom: 30px;
	border:3px solid #dec9cd;
}




.panel-custom{
	
	padding-bottom: 30px;

}
.panel-custom h1{
	font-family:'Nunito',verdana,arial,sans-serif;
	font-size: 50px;
	font-weight: 300;
}
.panel-custom .description{
	padding-top:5px;
	font-size: 14px;
}

.pig{
	height:10em;
	margin-top:15px;
}