<template name ="listform">
	<form class="form-horizontal" role="form-group" id="list_form">
		<label for="name">Textbook Name</label>
		<input type="text" class="form-control" placeholder="Textbook Name" id="name" required/>
		<input type="text" class="form-control" placeholder="Course Subject" id="subj" required/>
		<input type="text" class="form-control" placeholder="Course ID" id="crseId" required/>
		<input type="text" class="form-control" placeholder="Price" id="price" required/>
		<input type="text" class="form-control" placeholder="Contact Info" id="contact" required/>
		<textarea type="text" class="form-control" placeholder="Comments" id="comments" required></textarea>
		<input type="submit" class="btn btn-primary" id="submit" value="submit"/>
	</form>

</template>



