/*
brand:#ed6b52;
#FF7358
#CC5C47

*/

body{
	
    /*background:url('background/bg3.png') repeat 0 0;*/
	font-family: 'bitter',serif;
}

.placeholder{
    background:url('background/bg3.png') repeat 0 0;

}

.center{
    display: table;
    margin: 0 auto;
}
.btn-custom1{
	border-radius: 20px;
   	margin-top: 30px;
   	border-color: #ef9f69;
    background-color: white;
    color: #ef9f69;
    padding: 10px 20px 10px 20px;
}
.btn-custom1:hover,.btn-custom1:focus{
	
	border-color: white;
    background-color: #ef9f69;
    color: white;
}

.btn-custom2{
    -webkit-box-shadow: 2px 2px 2px 0px #7F5A52;
    -moz-box-shadow: 2px 2px 2px 0px #7F5A52;
    box-shadow: 2px 2px 2px 0px #7F5A52;
    background:#fff url('background/bg2.jpg') repeat 0 0; 
    color:#7F5A52;
    border-radius: 2px;
    font-family: "Bitter",serif;
    cursor: pointer;
}
.btn-custom2:hover,.btn-custom1:focus{
   background-image: linear-gradient(#f18c78,#e9836d 50%,#e17860);
   color:white;
}

.btn-custom3{
    cursor: pointer;
   
    color: white;
    background-image: linear-gradient(#f18c78,#e9836d 50%,#e17860);
    border: 1px solid #ce5c45;
    border-radius: 2px;
    font-family: "Bitter",serif;
    text-transform: uppercase;
}

.hide{
    display:none;
}


.fwb {
    font-weight: bold;
}

.tdu {
    text-decoration: underline;
}
