.nav{
	background: #fff url('background/bg2.jpg') repeat 0 0;
	padding: 0 20px 0 20px;
	height:90px;
}

#login-btn{
	position: absolute;
	right: 20%;
}

.home-update{
	
}

.placeholder{
    background:url('background/bg3.png') repeat 0 0;
    color:#695b4d;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1.714285714286;
    font-style: italic;
    text-align: center;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
