<template name="header">
	<div class="nav">
		<div class="nav-left col-xs-6">
			<a href="/">
				<img src="logo/logo1.png" alt="logo">
        	</a>
        </div>
        <div class="col-xs-4 nav-center">
        </div>
        <div class="nav-right col-xs-2" >
            {{#if currentUser}}
                <div class="btn btn-custom1">
                    Welcome User <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                
                {{else}}
            	<a href="/signin" class="btn btn-custom1" id="login-btn">
            		Log In
            	</a>
            {{/if}}

        </div>
    </div>
</template>